body {
    margin: 0px;
    line-height: 3;
}

main {
    background-color: beige;
    margin: 0px;
}

footer {
    background-color: rgb(29, 29, 29);
}

p {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.pWithSpacing {
    margin-top: 100px;
    margin-bottom: 100px;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

#intro {
    padding-bottom: 100px   ;
}

#map {
    background-color: rgb(80, 80, 80);
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 200px;
}

.poem {
    text-align: left;
    line-height: 4;
}

#map p{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

#center {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px
}

#leftOrangeBar {
    background-color: rgb(255, 101, 46);
    margin-right: 35%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 0px;

}

#rightOrangeBar {
    background-color: rgb(255, 101, 46);
    margin-left: 35%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    padding-top: 30px;
    padding-bottom: 30px;

}

img {
    margin: 0px;
    margin-left: 20%;
    height: 400px;
}

a {
    color: white;
    margin-left: 20%;
}