body {
    margin: 0px;
    overflow-x: hidden;
}

main {
    background-color: beige;
    margin: 0px;
}

footer {
    background-color: rgb(0, 0, 68);
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

.pWithSpacing {
    margin-top: 100px;
    margin-bottom: 100px;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

#intro {
    padding-bottom: 100px   ;
}

#map {
    background-color: rgb(0, 0, 68);
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.poem {
    text-align: left;
    line-height: 2;
}

#map p{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

#center {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-color: rgb(226, 191, 197);
    cursor: pointer;
}

#leftOrangeBar {
    background-color: rgb(255, 149, 167);
    margin-right: 35%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 0px;
    position: relative;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;

}


#leftOrangeBar.active {
    transform: translateX(0);
    opacity: 1;
}


#rightOrangeBar {
    background-color: rgb(255, 149, 167);
    margin-left: 35%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#rightOrangeBar.active {
    transform: translateX(0);
    opacity: 1;
}

#centerColoredBar {
    background-color: rgb(255, 149, 167);
    border-radius: 50%;
    padding: 40px;
    margin-left: 25%;
    margin-right: 25%;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 400px;
}

a {
    color: white;
    margin-left: 20%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#citedWorks {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
}

#citedWorks p {
    margin-top: 30px;
    margin-bottom: 30px;
}

div {
    margin: 0px;
    padding: 0px;
    padding-bottom: 25px;
    padding-top: 25px;
}

#blue {
    background-color: aqua;
}

#pink {
    background-color: pink;
}

#white {
    background-color: white;
}

#black {
    background-color: rgb(0, 0, 50);
    padding-bottom: 0;
}

#grey {
    background-color: rgb(195, 202, 236);
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.secretButton {
    background-color: rgb(0, 0, 68);
    color: white;
    float: right;
    margin-right: 10%;
    margin-top: 0;
}

#citedWorks p {
    padding-left: 80px ;
    text-indent: -80px ;
}

.underlined {
    font-style: normal;
    text-decoration: underline;
}